<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">
      {{fa-icon "search" class="text-primary" size=1}}
    </span>
  </div>

  {{input class="form-control"
          id="video-search"
          value=search
          key-up=(action 'filterVideos')
          placeholder="Type your search"}}
</div>
<span class="font-italic text-black-50">Example: 'California'</span>
<br>
<div class="row justify-content-md-center">
  {{#each videos as |video|}}
    {{video-player video=video}}
  {{else}}
    <p class="alert alert-success mt-4" role="alert">
      Please type your search to see videos filtered by it
    </p>
  {{/each}}
</div>

{{outlet}}